.header {
    display: flex;
    padding-top: 2rem;
    justify-content: space-between;
    align-items: center;

    &__picture-wrapper {
        width: 225px;
        height: 70px;
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
        @media (max-width: 1300px) {
            width: 145px;
            height: 45px;
            background-image: url(../img/sm-logo.png);
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1300px) {
            width: 95%;
            margin: 0 auto;
        }
    }

    &__burger-btn {
        display: none;
        background: none;
        border: none;

        @media (max-width: 1300px) {
            display: block;
        }
    }

    &__actions {
        display: none;
        margin-top: 1rem;
        @media (max-width: 1300px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__action {
        background-color: #333333;
        border: none;
        border-radius: 25px;
        padding: 0.5rem 1rem; 

        &:first-child {
            border-radius: 0px 25px 25px 0px;
            padding: 0.5rem 1rem;
        }

        &:last-child {
            border-radius: 25px 0px 0px 25px;
            background-color: $theme-color;
            color: white;
            font-family: $main-font-family;
            font-size: $main-font-size;
            font-weight: 700;
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }

    @media (max-width: 1300px) {
        display: block;
    }
}