.nav {
    display: grid;
    gap: 3rem;

    &__menu {
        padding: 0;
        margin: 0;
        list-style: none;
        grid-row-start: 1;

        @media (max-width: 400px) {
            &:last-child {
                grid-row-start: 2;
            }
        }

    }

    &__item {
        &:not(:first-child) {
            margin-top: 0.5rem;
        }
        
        @media(max-width: 768px) {
            font-size: $sm-font-size;
            &:not(:first-child) {
                    margin-top: 1rem;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: #F1F1F1;

        &:hover {
            color: $theme-color;
        }
    }
    
}