.product {
    display: flex;
    border-radius: 8px;
    background-color: $product-background;
    max-width: 800px;
    cursor: pointer;

    &__picture {
        position: relative;
    }

    &__status {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: $main-font-size;
        padding: 0.45rem 1rem;
        border-radius: 16px;
        color: white;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__status--new {
        background-color: #E30029;
    }

    &__status--present {
        background-color: #FFE600;
    }

    &__image {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

        @media(max-width: 768px) {
            display: none;
        }
    }

    &__image--sm {
        display: none;
        filter: brightness(0.5);

        @media(max-width: 768px) {
            display: block;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__delete-btn {
        width: 1.5rem;
        border: none;
        background: none;
        background-image: url(../img/Close.png);
        background-repeat: no-repeat;
        background-position: center;

    }

    &__main-content {
        margin-left: 2.5rem;
        padding-top: 1rem;
        padding-right: 1rem;
        width: 100%;

        @media (max-width: 768px) {
            margin: 0;
            padding-top: 0.3rem;

        }
    }

    &__title {
        margin: 0;
        font-size: $xl-font-size;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__header--present {
        
        @media(max-width: 768px) {
            display: flex;
            height: 25px;
            justify-content: flex-end;
        }
    }

    &__title--sm {
        display: none;
        margin: 0;
        font-size: $sm-font-size;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 400;
        white-space: nowrap;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__description {
        margin-top: 0.8rem;
        margin-bottom: 0;
        min-height: 3.9rem;
        max-height: 4rem;
        font-size: $main-font-size;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__addition {
        display: flex;
        align-items: center;
        font-size: $lg-font-size;
        margin-top: 1.5rem;
        justify-content: flex-end;
        gap: 1rem;

        @media (max-width: 768px) {
            font-size: $sm-font-size;
            margin: 0;
            gap: 0.4rem;
        }
    }

    &__unit-price {
        
        @media (max-width: 768px) {
            display: none !important;
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        text-align: right;
        font-weight: 800;
        line-height: 24px;

        @media (max-width: 768px) {
            line-height: 16px;
        }
    }

    &__old-price {
        color: $inactive-font-color;
    }

    &__add-btns {
        display: flex;
    }

    &__btn {
        line-height: 24px;
        background-color: white;
        font-family: $main-font-family;
        color: $complementary-font-color;
        font-size: $lg-font-size;
        border: 2px solid $theme-color;

        @media (max-width: 768px) {
            font-size: $md-font-size;
        }
    }

    &__amount {
        background-color: white;
        line-height: 24px;
        padding: 0.75rem 1.2rem;
        color: $complementary-font-color;
        border-top: 2px solid $theme-color;
        border-bottom: 2px solid $theme-color;
        cursor: default;

        @media (max-width: 768px) {
            font-size: $md-font-size;
            padding: 0.25rem 0.8rem;
        }
    }

    &__btn-dec {
        border-radius: 30px 0px 0px 30px;
        padding: 0.6rem 0.75rem 0.6rem 1.25rem;

        @media (max-width: 768px) {
            padding: 0.25rem 0.37rem 0.25rem 0.8rem;
        }
    }

    &__btn-inc {
        border-radius: 0px 30px 30px 0px;
        padding: 0.6rem 1.25rem 0.6rem 0.75rem;

        @media (max-width: 768px) {
            padding: 0.25rem 0.8rem 0.25rem 0.37rem;
        }
    }

    @media (max-width: 768px) {
        border-radius: 0;
        align-items: center;
        background-color: white;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 4px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.16);
    }

    @media (min-width: 768px) and (max-width: 1300px) {
        width: 100%;
    }

}