.products {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &__present {
        margin-top: 3rem;
    }

    @media (max-width: 768px) {
        gap: 0.5rem;
    }

    @media (min-width: 768px) and (max-width: 1300px) {
        align-items: center;
    }
}