.promo {
    max-width: 420px;
    max-height: 600px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.16), 0px 4px 6px rgba(0, 0, 0, 0.16);

    .inner-wrapper {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 2rem;

        @media (max-width: 1300px) {
            width: 90%
        }
    }

    &__title {
        margin: 0;
        font-size: $lg-font-size;
        
        @media (max-width: 1300px) {
            text-align: right;
        }

        @media (min-width: 768px) and (max-width: 1300px) {
            font-size: $xl-font-size;
        }
    }

    &__info {
        line-height: 20px;
        font-size: $main-font-size;
    }

    &__promo-code {
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;

        .promo__title {
            @media (max-width: 1300px) {
                    font-size: $xl-font-size;
                    text-align: left;
                }
        }
        
    }

    &__input {
        margin-top: 1rem;
        padding: 0.5rem 0 0.5rem 1rem;
        outline: none;
        border: 2px solid #808080;
        border-radius: 30px;
        font-size: $md-font-size;
        font-family: $main-font-family;
    }

    &__input::placeholder {
        font-family: $main-font-family;
        font-size: $md-font-size;
    }

    &__promo-code-btn {
        padding: 0.5rem 2rem;
        max-width: 160px;
        align-self: flex-end;
        background: none;
        border: 2px solid $theme-color;
        color: $theme-color;
        font-size: $md-font-size;
        font-family: $main-font-family;
        border-radius: 40px;
        line-height: 24px;
        margin-top: 1.5rem;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 4px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.16);

        &:hover {
            background-color: $theme-color;
            color: white;
        }
    }

    &__price-info {
        margin-top: 2.5rem;

        @media (max-width: 768px) {
            display: none;
        }
        @media (min-width: 768px) and (max-width: 1300px) {
            display: none;
        }
    }

    &__next-btn {
        margin-top: 2.5rem;

        @media (max-width: 768px) {
            display: none;
        }
        @media (min-width: 768px) and (max-width: 1300px) {
            display: none;
        }
    }

    @media (max-width: 1300px) {
        max-width: none;
        box-shadow: none;
    }
}