.recommended {
    padding-bottom: 3rem;
    border-bottom: 2px solid #B3B3B3;
    position: relative;

    .inner-wrapper {
        width: 100%;
        @media (max-width: 1300px) {
            width: 90%;
        }
    }

    &__title {
        margin: 0
    }

    &__swiper {
        margin-top: 2.5rem;
    }

    &__shadow {
        color: red;
        position: absolute;
        z-index: 2;
        width: 100px;
        right: 0;
        height: 100%;
        box-shadow: -15px  -5px 10px 0px rgba(255, 255, 255, 1) inset;    
    }

    @media (max-width: 768px) {
        display: none;
    }
}